.grid {
  height: 400px;
  width: 400px;
  display: flex;
  /*toggle display to none to make this disappear!*/
  flex-wrap: wrap;
  background-color: grey;
  margin: auto;
}

.grid div {
  height: 40px;
  width: 40px;
}
.checked {
  background-color: red;
}
.bomb {
  background-color: orange;
}
